In [2]:
import pandas as pd
fresh = pd.read_csv("Freshmen.csv")
fresh

,Calculation1,Campus,City,County/State/ Territory,Fall Term,School,Sch Src FR,Uad Uc Ethn 6 Cat,adm (SUM),app (SUM),enr (SUM)
0,F BRAVO MEDICAL MAGNET HS51719,Riverside,Los Angeles,Los Angeles,2008,F BRAVO MEDICAL MAGNET HS,California Public High School,Hispanic/ Latino,39.0,50,10.0
1,ARAGON HIGH SCHOOL53163,Santa Barbara,San Mateo,San Mateo,2012,ARAGON HIGH SCHOOL,California Public High School,Asian,28.0,53,4.0
2,ETIWANDA HIGH SCHOOL50888,San Diego,Etiwanda,San Bernardino,2012,ETIWANDA HIGH SCHOOL,California Public High School,Asian,11.0,34,4.0
3,UPLAND HIGH SCHOOL53586,Merced,Upland,San Bernardino,2005,UPLAND HIGH SCHOOL,California Public High School,Asian,6.0,7,NaN
4,MORNINGSIDE HIGH SCHOOL51262,Los Angeles,Inglewood,Los Angeles,2006,MORNINGSIDE HIGH SCHOOL,California Public High School,All,5.0,22,NaN
5,SAN JOSE HIGH SCHOOL53098,Davis,San Jose,Santa Clara,2008,SAN JOSE HIGH SCHOOL,California Public High School,Asian,7.0,9,NaN
6,MIDDLE COLLEGE HIGH SCHOOL53204,Los Angeles,San Pablo,Contra Costa,2003,MIDDLE COLLEGE HIGH SCHOOL,California Public High School,Asian,4.0,6,NaN
7,BROOKWOOD HIGH SCHOOL112754,Universitywide,Snellville,Georgia,2016,BROOKWOOD HIGH SCHOOL,Non-CA Domestic High School,All,5.0,8,NaN
8,CHAFFEY HIGH SCHOOL52275,Universitywide,Ontario,San Bernardino,2011,CHAFFEY HIGH SCHOOL,California Public High School,Asian,6.0,8,3.0
9,VICTOR VALLEY HIGH SCHOOL53660,Universitywide,Victorville,San Bernardino,1999,VICTOR VALLEY HIGH SCHOOL,California Public High School,Asian,4.0,5,3.0
10,WINSTON CHURCHILL HIGH SCHOOL446273,Universitywide,San Antonio,Texas,2016,WINSTON CHURCHILL HIGH SCHOOL,Non-CA Domestic High School,All,3.0,12,NaN
11,LELAND HIGH SCHOOL53091,Universitywide,San Jose,Santa Clara,2003,LELAND HIGH SCHOOL,California Public High School,Asian,109.0,114,75.0
12,A B MILLER HIGH SCHOOL50944,Universitywide,Fontana,San Bernardino,2006,A B MILLER HIGH SCHOOL,California Public High School,Hispanic/ Latino,41.0,47,19.0
13,ESTANCIA HIGH SCHOOL50684,Universitywide,Costa Mesa,Orange,2009,ESTANCIA HIGH SCHOOL,California Public High School,Asian,7.0,7,3.0
14,WARREN HIGH SCHOOL50771,Universitywide,Downey,Los Angeles,1998,WARREN HIGH SCHOOL,California Public High School,All,45.0,53,26.0
15,AMITY REGIONAL HIGH SCHOOL70965,Universitywide,Woodbridge,Connecticut,1996,AMITY REGIONAL HIGH SCHOOL,Non-CA Domestic High School,All,NaN,5,NaN
16,ABRAHAM LINCOLN HIGH SCHOOL51520,Berkeley,Los Angeles,Los Angeles,2011,ABRAHAM LINCOLN HIGH SCHOOL,California Public High School,All,6.0,35,NaN
17,NEW TECHNOLOGY HIGH SCHOOL52102,Irvine,Napa,Napa,2005,NEW TECHNOLOGY HIGH SCHOOL,California Public High School,All,3.0,5,NaN
18,EL DORADO HIGH SCHOOL52478,Riverside,Placentia,Orange,2008,EL DORADO HIGH SCHOOL,California Public High School,Asian,17.0,18,5.0
19,BRAWLEY UNION HIGH SCHOOL50365,Universitywide,Brawley,Imperial,2000,BRAWLEY UNION HIGH SCHOOL,California Public High School,Hispanic/ Latino,11.0,14,4.0
20,A B MILLER HIGH SCHOOL50944,San Diego,Fontana,San Bernardino,2008,A B MILLER HIGH SCHOOL,California Public High School,Hispanic/ Latino,11.0,19,NaN
21,CHENGDU SHUDE HIGH SCHOOL694370,San Diego,NaN,"CHINA, PEOPLES REPUBLIC",2015,CHENGDU SHUDE HIGH SCHOOL,Foreign Institution,All,9.0,37,3.0
22,MORENO VALLEY HIGH SCHOOL53459,Riverside,Moreno Valley,Riverside,2016,MORENO VALLEY HIGH SCHOOL,California Public High School,All,54.0,100,31.0
23,F BRAVO MEDICAL MAGNET HS51719,Los Angeles,Los Angeles,Los Angeles,1998,F BRAVO MEDICAL MAGNET HS,California Public High School,African American,3.0,12,NaN
24,EDWARD C MERLO INSTITUTE54210,Universitywide,Stockton,San Joaquin,2016,EDWARD C MERLO INSTITUTE,California Public High School,All,NaN,5,NaN
25,ACADEMY OF THE CANYONS53262,Universitywide,Santa Clarita,Los Angeles,2013,ACADEMY OF THE CANYONS,California Public High School,White,7.0,15,4.0
26,ABRAHAM LINCOLN HIGH SCHOOL51520,Irvine,Los Angeles,Los Angeles,1999,ABRAHAM LINCOLN HIGH SCHOOL,California Public High School,Asian,NaN,43,NaN
27,CLOVIS EAST HIGH SCHOOL50622,Davis,Clovis,Fresno,2007,CLOVIS EAST HIGH SCHOOL,California Public High School,Asian,8.0,16,4.0
28,JEFFERSON HIGH SCHOOL50720,Universitywide,Daly City,San Mateo,2014,JEFFERSON HIGH SCHOOL,California Public High School,Asian,14.0,24,8.0
29,SAN JOSE HIGH SCHOOL53098,Merced,San Jose,Santa Clara,2013,SAN JOSE HIGH SCHOOL,California Public High School,Hispanic/ Latino,4.0,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
587471,ZHENHAI HIGH SCH OF ZHEJIANG694294,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,49.0,65,6.0
587472,ZHENHAI HIGH SCH OF ZHEJIANG694294,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,24.0,45,NaN
587473,ZHENHAI HIGH SCH OF ZHEJIANG694294,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,22.0,32,NaN
587474,ZHENHAI HIGH SCH OF ZHEJIANG694294,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2013,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,All,NaN,22,NaN
587475,ZHENHAI HIGH SCH OF ZHEJIANG694294,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2013,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,NaN,21,NaN
587476,ZHENHAI HIGH SCH OF ZHEJIANG694294,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2013,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,NaN,19,NaN
587477,ZHENHAI HIGH SCH OF ZHEJIANG694294,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2017,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,18.0,26,NaN
587478,ZHENHAI HIGH SCH OF ZHEJIANG694294,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2014,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,All,8.0,25,NaN
587479,ZHENHAI HIGH SCH OF ZHEJIANG694294,Los Angeles,NaN,"CHINA, PEOPLES REPUBLIC",2012,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,All,3.0,23,NaN
587480,ZHENHAI HIGH SCH OF ZHEJIANG694294,Los Angeles,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,NaN,29,NaN
587481,ZHENHAI HIGH SCH OF ZHEJIANG694294,San Diego,NaN,"CHINA, PEOPLES REPUBLIC",2013,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,All,14.0,30,3.0
587482,ZHENHAI HIGH SCH OF ZHEJIANG694294,San Diego,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,All,9.0,40,NaN
587483,ZHENHAI HIGH SCH OF ZHEJIANG694294,San Diego,NaN,"CHINA, PEOPLES REPUBLIC",2015,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,26.0,58,NaN
587484,ZHENHAI HIGH SCH OF ZHEJIANG694294,San Diego,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZHENHAI HIGH SCH OF ZHEJIANG,Foreign Institution,Inter- national,NaN,39,NaN
587485,ZHUHAI NO 1 HIGH SCHOOL694565,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,21.0,27,14.0
587486,ZHUHAI NO 1 HIGH SCHOOL694565,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,18.0,21,10.0
587487,ZHUHAI NO 1 HIGH SCHOOL694565,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2015,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,3.0,10,NaN
587488,ZHUHAI NO 1 HIGH SCHOOL694565,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2015,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,10.0,16,3.0
587489,ZHUHAI NO 1 HIGH SCHOOL694565,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,15.0,17,NaN
587490,ZHUHAI NO 1 HIGH SCHOOL694565,Los Angeles,NaN,"CHINA, PEOPLES REPUBLIC",2015,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,NaN,13,NaN
587491,ZHUHAI NO 1 HIGH SCHOOL694565,San Diego,NaN,"CHINA, PEOPLES REPUBLIC",2015,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,11.0,19,5.0
587492,ZHUHAI NO 1 HIGH SCHOOL694565,San Diego,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZHUHAI NO 1 HIGH SCHOOL,Foreign Institution,All,6.0,19,4.0
587493,ZIBO EXPERIMENTAL HIGH SCHOOL694601,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,ZIBO EXPERIMENTAL HIGH SCHOOL,Foreign Institution,All,NaN,6,NaN
587494,ZIBO EXPERIMENTAL HIGH SCHOOL694601,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,ZIBO EXPERIMENTAL HIGH SCHOOL,Foreign Institution,All,5.0,12,NaN
587495,ZURICH INTERNATIONAL SCHOOL796330,Universitywide,NaN,SWITZERLAND,2009,ZURICH INTERNATIONAL SCHOOL,Foreign Institution,All,4.0,6,NaN
587496,ZURICH INTERNATIONAL SCHOOL796330,Universitywide,NaN,SWITZERLAND,2012,ZURICH INTERNATIONAL SCHOOL,Foreign Institution,All,7.0,13,NaN
587497,ZURICH INTERNATIONAL SCHOOL796330,Universitywide,NaN,SWITZERLAND,2013,ZURICH INTERNATIONAL SCHOOL,Foreign Institution,All,8.0,14,NaN
587498,ZURICH INTERNATIONAL SCHOOL796330,Universitywide,NaN,SWITZERLAND,2017,ZURICH INTERNATIONAL SCHOOL,Foreign Institution,All,4.0,6,NaN
587499,ZURICH INTERNATIONAL SCHOOL796330,Los Angeles,NaN,SWITZERLAND,2017,ZURICH INTERNATIONAL SCHOOL,Foreign Institution,All,NaN,6,NaN
587500,ZURICH INTERNATIONAL SCHOOL796330,Santa Barbara,NaN,SWITZERLAND,2013,ZURICH INTERNATIONAL SCHOOL,Foreign Institution,All,4.0,8,NaN

In [3]:
gpa = pd.read_csv("GPA.csv")
gpa

,Calculation1,Campus,City,County/State/Country,Fall Term,Level,School,Adm GPA (SUM),App GPA (SUM),Enrl GPA (SUM)
0,GERMAN SWISS INTERNATIONAL SCH670905,Berkeley,NaN,HONG KONG,2012,Freshman,GERMAN SWISS INTERNATIONAL SCH,NaN,3.604000,NaN
1,AQUINAS HIGH SCHOOL052772,Riverside,San Bernardino,San Bernardino,1995,Freshman,AQUINAS HIGH SCHOOL,NaN,3.361429,NaN
2,DESIGN SCIENCE HIGH SCHOOL054003,Los Angeles,Fresno,Fresno,2012,Freshman,DESIGN SCIENCE HIGH SCHOOL,NaN,3.818000,NaN
3,BLOOMFIELD HILLS HIGH SCHOOL232447,Universitywide,Bloomfield Twp,Michigan,2015,Freshman,BLOOMFIELD HILLS HIGH SCHOOL,3.942000,3.950000,NaN
4,A B MILLER HIGH SCHOOL050944,Santa Barbara,Fontana,San Bernardino,1998,Freshman,A B MILLER HIGH SCHOOL,NaN,3.518571,NaN
5,WAYZATA HIGH SCHOOL242650,Davis,Plymouth,Minnesota,2013,Freshman,WAYZATA HIGH SCHOOL,NaN,3.660000,NaN
6,BISHOP MONTGOMERY HIGH SCHOOL053512,Merced,Torrance,Los Angeles,2012,Freshman,BISHOP MONTGOMERY HIGH SCHOOL,3.726000,3.561053,NaN
7,JOHN A ROWLAND HIGH SCHOOL052696,Santa Cruz,Rowland Heights,Los Angeles,1995,Freshman,JOHN A ROWLAND HIGH SCHOOL,3.346667,3.055385,NaN
8,JAMES A GARFIELD HIGH SCHOOL051635,Berkeley,Los Angeles,Los Angeles,2014,Freshman,JAMES A GARFIELD HIGH SCHOOL,4.118000,3.762895,4.055714
9,MONTEREY HIGH SCHOOL052050,Universitywide,Monterey,Monterey,2004,Freshman,MONTEREY HIGH SCHOOL,3.834565,3.714545,3.812759
10,CAJON HIGH SCHOOL052773,San Diego,San Bernardino,San Bernardino,2004,Freshman,CAJON HIGH SCHOOL,3.998571,3.543810,NaN
11,BENTONVILLE HIGH SCHOOL040175,Berkeley,Bentonville,Arkansas,2017,Freshman,BENTONVILLE HIGH SCHOOL,NaN,4.001250,NaN
12,ABRAHAM LINCOLN HIGH SCHOOL051520,Universitywide,Los Angeles,Los Angeles,2008,Freshman,ABRAHAM LINCOLN HIGH SCHOOL,3.566000,3.413882,3.609592
13,SACRAMENTO HIGH SCHOOL052735,Universitywide,Sacramento,Sacramento,2008,Freshman,SACRAMENTO HIGH SCHOOL,3.416607,3.250000,3.322759
14,AMADOR VALLEY HIGH SCHOOL052495,Santa Cruz,Pleasanton,Alameda,2003,Freshman,AMADOR VALLEY HIGH SCHOOL,3.582174,3.574400,3.415000
15,MARYSVILLE HIGH SCHOOL051925,Davis,Marysville,Yuba,2004,Freshman,MARYSVILLE HIGH SCHOOL,NaN,3.484545,NaN
16,ARNOLD O BECKMAN HIGH SCHOOL051267,Santa Cruz,Irvine,Orange,2007,Freshman,ARNOLD O BECKMAN HIGH SCHOOL,3.622917,3.501034,NaN
17,ACAD FOR CUL VIS TELE & PERF310451,San Diego,Hackensack,New Jersey,2014,Freshman,ACAD FOR CUL VIS TELE & PERF,NaN,3.844000,NaN
18,NOTRE DAME ACADEMY051730,Davis,Los Angeles,Los Angeles,2004,Freshman,NOTRE DAME ACADEMY,4.125556,3.808333,NaN
19,APPLE VALLEY HIGH SCHOOL050118,Riverside,Apple Valley,San Bernardino,2015,Freshman,APPLE VALLEY HIGH SCHOOL,3.815000,3.633939,3.551667
20,HANFORD HIGH SCHOOL051130,Santa Barbara,Hanford,Kings,1996,Freshman,HANFORD HIGH SCHOOL,NaN,3.198333,NaN
21,ALBUQUERQUE ACADEMY320003,Los Angeles,Albuquerque,New Mexico,2013,Freshman,ALBUQUERQUE ACADEMY,NaN,3.735714,NaN
22,SHELDON HIGH SCHOOL052792,Universitywide,Sacramento,Sacramento,2010,Freshman,SHELDON HIGH SCHOOL,3.775172,3.728154,3.878286
23,MONTGOMERY HIGH SCHOOL053328,Universitywide,Santa Rosa,Sonoma,1994,Freshman,MONTGOMERY HIGH SCHOOL,3.885075,3.830417,3.864054
24,CHANDLER HIGH SCHOOL030045,Berkeley,Chandler,Arizona,2015,Freshman,CHANDLER HIGH SCHOOL,NaN,4.114000,NaN
25,CRENSHAW HIGH SCHOOL051569,Santa Cruz,Los Angeles,Los Angeles,1998,Freshman,CRENSHAW HIGH SCHOOL,3.407143,3.112727,NaN
26,RANCHO COTATE HIGH SCHOOL052678,Santa Cruz,Rohnert Park,Sonoma,1999,Freshman,RANCHO COTATE HIGH SCHOOL,3.780000,3.584000,NaN
27,OAK PARK HIGH SCHOOL050006,Davis,Oak Park,Ventura,1997,Freshman,OAK PARK HIGH SCHOOL,3.920000,3.826429,NaN
28,ACADEMY OF OUR LADY OF GUAM525040,Universitywide,Hagatna,Guam,2017,Freshman,ACADEMY OF OUR LADY OF GUAM,NaN,3.863333,NaN
29,NOTRE DAME HIGH SCHOOL052748,Berkeley,Salinas,Monterey,1999,Freshman,NOTRE DAME HIGH SCHOOL,NaN,3.980000,NaN
...,...,...,...,...,...,...,...,...,...,...
333282,YUBA COLLEGE004994,Los Angeles,Marysville,Yuba,2011,Transfer,YUBA COLLEGE,NaN,3.365000,NaN
333283,YUBA COLLEGE004994,Universitywide,Marysville,Yuba,2011,Transfer,YUBA COLLEGE,3.508462,3.272444,3.492632
333284,YUBA COLLEGE004994,Santa Barbara,Marysville,Yuba,2012,Transfer,YUBA COLLEGE,NaN,3.153333,NaN
333285,YUBA COLLEGE004994,Los Angeles,Marysville,Yuba,2012,Transfer,YUBA COLLEGE,NaN,3.376000,NaN
333286,YUBA COLLEGE004994,Irvine,Marysville,Yuba,2012,Transfer,YUBA COLLEGE,NaN,3.172857,NaN
333287,YUBA COLLEGE004994,Davis,Marysville,Yuba,2012,Transfer,YUBA COLLEGE,3.460476,3.266486,3.453889
333288,YUBA COLLEGE004994,Universitywide,Marysville,Yuba,2012,Transfer,YUBA COLLEGE,3.467308,3.279250,3.486957
333289,YUBA COLLEGE004994,Santa Barbara,Marysville,Yuba,2013,Transfer,YUBA COLLEGE,3.560000,3.176000,NaN
333290,YUBA COLLEGE004994,Merced,Marysville,Yuba,2013,Transfer,YUBA COLLEGE,NaN,2.790000,NaN
333291,YUBA COLLEGE004994,Irvine,Marysville,Yuba,2013,Transfer,YUBA COLLEGE,NaN,3.104167,NaN
333292,YUBA COLLEGE004994,Davis,Marysville,Yuba,2013,Transfer,YUBA COLLEGE,3.486774,3.269362,3.522000
333293,YUBA COLLEGE004994,Universitywide,Marysville,Yuba,2013,Transfer,YUBA COLLEGE,3.489750,3.315714,3.518125
333294,YUBA COLLEGE004994,San Diego,Marysville,Yuba,2014,Transfer,YUBA COLLEGE,NaN,3.341429,NaN
333295,YUBA COLLEGE004994,Riverside,Marysville,Yuba,2014,Transfer,YUBA COLLEGE,3.370000,3.296000,NaN
333296,YUBA COLLEGE004994,Merced,Marysville,Yuba,2014,Transfer,YUBA COLLEGE,NaN,3.475000,NaN
333297,YUBA COLLEGE004994,Santa Barbara,Marysville,Yuba,2015,Transfer,YUBA COLLEGE,3.560000,3.321250,NaN
333298,YUBA COLLEGE004994,Riverside,Marysville,Yuba,2015,Transfer,YUBA COLLEGE,3.338000,3.338000,NaN
333299,YUBA COLLEGE004994,Merced,Marysville,Yuba,2015,Transfer,YUBA COLLEGE,NaN,3.034000,NaN
333300,YUBA COLLEGE004994,Los Angeles,Marysville,Yuba,2015,Transfer,YUBA COLLEGE,3.762000,3.490000,NaN
333301,YUBA COLLEGE004994,Irvine,Marysville,Yuba,2015,Transfer,YUBA COLLEGE,3.553333,3.344167,NaN
333302,YUBA COLLEGE004994,Berkeley,Marysville,Yuba,2015,Transfer,YUBA COLLEGE,NaN,3.564211,NaN
333303,YUBA COLLEGE004994,Santa Cruz,Marysville,Yuba,2016,Transfer,YUBA COLLEGE,3.355000,3.220000,NaN
333304,YUBA COLLEGE004994,Merced,Marysville,Yuba,2016,Transfer,YUBA COLLEGE,NaN,2.968182,NaN
333305,YUBA COLLEGE004994,Davis,Marysville,Yuba,2016,Transfer,YUBA COLLEGE,3.501515,3.356981,3.462692
333306,YUBA COLLEGE004994,Berkeley,Marysville,Yuba,2016,Transfer,YUBA COLLEGE,NaN,3.518400,NaN
333307,YUBA COLLEGE004994,Santa Barbara,Marysville,Yuba,2017,Transfer,YUBA COLLEGE,3.615000,3.456875,NaN
333308,YUBA COLLEGE004994,Riverside,Marysville,Yuba,2017,Transfer,YUBA COLLEGE,NaN,2.843750,NaN
333309,YUBA COLLEGE004994,Merced,Marysville,Yuba,2017,Transfer,YUBA COLLEGE,NaN,3.187500,NaN
333310,YUBA COLLEGE004994,Davis,Marysville,Yuba,2017,Transfer,YUBA COLLEGE,3.445000,3.343889,3.414583
333311,YUBA COLLEGE004994,Universitywide,Marysville,Yuba,2017,Transfer,YUBA COLLEGE,3.435870,3.343000,3.480857

In [4]:
trans = pd.read_csv("Transfers.csv")
trans

,Calculation1,Campus,City,County/State/ Territory,Fall Term,School,Sch Src TR,Uad Uc Ethn 6 Cat,adm (SUM),app (SUM),enr (SUM)
0,BUTTE COLLEGE4226,Davis,Oroville,Butte,2007,BUTTE COLLEGE,California Community Colleges (CCC),White,22.0,32,4.0
1,IMPERIAL VALLEY COLLEGE4358,Riverside,Imperial,Imperial,2008,IMPERIAL VALLEY COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,13.0,27,3.0
2,ALLAN HANCOCK COLLEGE4002,Universitywide,Santa Maria,Santa Barbara,2012,ALLAN HANCOCK COLLEGE,California Community Colleges (CCC),White,97.0,133,65.0
3,AMERICAN RIVER COLLEGE4004,Berkeley,Sacramento,Sacramento,1996,AMERICAN RIVER COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,8.0,14,6.0
4,CUESTA COLLEGE4101,Santa Barbara,San Luis Obispo,San Luis Obispo,2013,CUESTA COLLEGE,California Community Colleges (CCC),All,122.0,262,42.0
5,COLLEGE OF THE DESERT4085,Riverside,Palm Desert,Riverside,2015,COLLEGE OF THE DESERT,California Community Colleges (CCC),White,14.0,34,6.0
6,PASADENA CITY COLLEGE4604,Riverside,Pasadena,Los Angeles,1996,PASADENA CITY COLLEGE,California Community Colleges (CCC),White,28.0,34,NaN
7,GREEN RIVER COLLEGE4337,Los Angeles,Auburn,Washington,2012,GREEN RIVER COLLEGE,Non-California Institution (US),All,14.0,98,8.0
8,BUTTE COLLEGE4226,Santa Barbara,Oroville,Butte,2003,BUTTE COLLEGE,California Community Colleges (CCC),All,13.0,24,NaN
9,ALLAN HANCOCK COLLEGE4002,Universitywide,Santa Maria,Santa Barbara,2002,ALLAN HANCOCK COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,50.0,69,32.0
10,NAPA VALLEY COLLEGE4530,Santa Cruz,Napa,Napa,2008,NAPA VALLEY COLLEGE,California Community Colleges (CCC),White,16.0,20,NaN
11,AMERICAN RIVER COLLEGE4004,Davis,Sacramento,Sacramento,2010,AMERICAN RIVER COLLEGE,California Community Colleges (CCC),Asian,82.0,124,52.0
12,MIRACOSTA COLLEGE4582,Universitywide,Oceanside,San Diego,1997,MIRACOSTA COLLEGE,California Community Colleges (CCC),Inter- national,8.0,10,6.0
13,CITRUS COLLEGE4051,Universitywide,Glendora,Los Angeles,2008,CITRUS COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,40.0,55,31.0
14,CHAFFEY COLLEGE4046,Berkeley,Rnch Cmnga,San Bernardino,2000,CHAFFEY COLLEGE,California Community Colleges (CCC),Asian,NaN,16,NaN
15,CANADA COLLEGE4109,Universitywide,Redwood City,San Mateo,2000,CANADA COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,9.0,13,NaN
16,ANTELOPE VALLEY COLLEGE4005,Santa Barbara,Lancaster,Los Angeles,2004,ANTELOPE VALLEY COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,21.0,32,NaN
17,ALLAN HANCOCK COLLEGE4002,Universitywide,Santa Maria,Santa Barbara,1994,ALLAN HANCOCK COLLEGE,California Community Colleges (CCC),All,72.0,100,46.0
18,SIERRA COLLEGE4697,Santa Cruz,Rocklin,Placer,1999,SIERRA COLLEGE,California Community Colleges (CCC),White,32.0,58,NaN
19,ALLAN HANCOCK COLLEGE4002,Universitywide,Santa Maria,Santa Barbara,1995,ALLAN HANCOCK COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,30.0,34,24.0
20,PASADENA CITY COLLEGE4604,Los Angeles,Pasadena,Los Angeles,2000,PASADENA CITY COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,71.0,137,47.0
21,DIABLO VALLEY COLLEGE4295,San Diego,Pleasant Hill,Contra Costa,2017,DIABLO VALLEY COLLEGE,California Community Colleges (CCC),African American,34.0,44,12.0
22,PALOMAR COLLEGE4602,Riverside,San Marcos,San Diego,2013,PALOMAR COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,38.0,42,8.0
23,SAN DIEGO MESA COLLEGE4735,San Diego,San Diego,San Diego,2001,SAN DIEGO MESA COLLEGE,California Community Colleges (CCC),Inter- national,15.0,21,11.0
24,CHABOT COLLEGE4725,Berkeley,Hayward,Alameda,2017,CHABOT COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,30.0,92,26.0
25,BARSTOW COLLEGE4020,Los Angeles,Barstow,San Bernardino,2005,BARSTOW COLLEGE,California Community Colleges (CCC),All,NaN,12,NaN
26,UC BERKELEY4833,Universitywide,Berkeley,Alameda,2009,UC BERKELEY,University of California (UC),All,75.0,103,35.0
27,EL CAMINO COLLEGE4302,Davis,Torrance,Los Angeles,1999,EL CAMINO COLLEGE,California Community Colleges (CCC),Hispanic/ Latino,NaN,12,NaN
28,COLLEGE OF THE CANYONS4117,Berkeley,Santa Clarita,Los Angeles,2005,COLLEGE OF THE CANYONS,California Community Colleges (CCC),Domestic Unknown,5.0,18,NaN
29,GLENDALE COMMUNITY COLLEGE4327,Santa Cruz,Glendale,Los Angeles,2011,GLENDALE COMMUNITY COLLEGE,California Community Colleges (CCC),White,76.0,112,6.0
...,...,...,...,...,...,...,...,...,...,...,...
103935,WHATCOM CMTY COLLEGE1275,Berkeley,Bellingham,Washington,2017,WHATCOM CMTY COLLEGE,Non-California Institution (US),Inter- national,NaN,22,NaN
103936,WHATCOM CMTY COLLEGE1275,Davis,Bellingham,Washington,2017,WHATCOM CMTY COLLEGE,Non-California Institution (US),Inter- national,6.0,18,NaN
103937,WHATCOM CMTY COLLEGE1275,Irvine,Bellingham,Washington,2017,WHATCOM CMTY COLLEGE,Non-California Institution (US),Inter- national,6.0,22,NaN
103938,WHATCOM CMTY COLLEGE1275,Los Angeles,Bellingham,Washington,2013,WHATCOM CMTY COLLEGE,Non-California Institution (US),All,NaN,10,NaN
103939,WHATCOM CMTY COLLEGE1275,Los Angeles,Bellingham,Washington,2015,WHATCOM CMTY COLLEGE,Non-California Institution (US),All,NaN,14,NaN
103940,WHATCOM CMTY COLLEGE1275,Los Angeles,Bellingham,Washington,2016,WHATCOM CMTY COLLEGE,Non-California Institution (US),All,6.0,18,NaN
103941,WHATCOM CMTY COLLEGE1275,Los Angeles,Bellingham,Washington,2017,WHATCOM CMTY COLLEGE,Non-California Institution (US),All,NaN,44,NaN
103942,WHATCOM CMTY COLLEGE1275,Los Angeles,Bellingham,Washington,2015,WHATCOM CMTY COLLEGE,Non-California Institution (US),Inter- national,NaN,12,NaN
103943,WHATCOM CMTY COLLEGE1275,San Diego,Bellingham,Washington,2016,WHATCOM CMTY COLLEGE,Non-California Institution (US),All,8.0,10,NaN
103944,WHATCOM CMTY COLLEGE1275,San Diego,Bellingham,Washington,2017,WHATCOM CMTY COLLEGE,Non-California Institution (US),Inter- national,6.0,24,NaN
103945,WHATCOM CMTY COLLEGE1275,Santa Cruz,Bellingham,Washington,2017,WHATCOM CMTY COLLEGE,Non-California Institution (US),All,10.0,16,NaN
103946,WHATCOM CMTY COLLEGE1275,Santa Cruz,Bellingham,Washington,2017,WHATCOM CMTY COLLEGE,Non-California Institution (US),Inter- national,NaN,14,NaN
103947,WHITMAN COLLEGE4951,Universitywide,Walla Walla,Washington,2016,WHITMAN COLLEGE,Non-California Institution (US),All,8.0,14,NaN
103948,WHITMAN COLLEGE4951,Davis,Walla Walla,Washington,2016,WHITMAN COLLEGE,Non-California Institution (US),All,6.0,10,NaN
103949,WILLAMETTE UNIVERSITY4954,Universitywide,Salem,Oregon,1998,WILLAMETTE UNIVERSITY,Non-California Institution (US),All,NaN,10,NaN
103950,WILLAMETTE UNIVERSITY4954,Universitywide,Salem,Oregon,1999,WILLAMETTE UNIVERSITY,Non-California Institution (US),All,NaN,10,NaN
103951,WILLAMETTE UNIVERSITY4954,Universitywide,Salem,Oregon,2000,WILLAMETTE UNIVERSITY,Non-California Institution (US),All,7.0,17,NaN
103952,WILLAMETTE UNIVERSITY4954,Universitywide,Salem,Oregon,2001,WILLAMETTE UNIVERSITY,Non-California Institution (US),All,3.0,6,3.0
103953,WILLAMETTE UNIVERSITY4954,Universitywide,Salem,Oregon,2017,WILLAMETTE UNIVERSITY,Non-California Institution (US),All,10.0,10,NaN
103954,WILLAMETTE UNIVERSITY4954,Universitywide,Salem,Oregon,2000,WILLAMETTE UNIVERSITY,Non-California Institution (US),White,3.0,13,NaN
103955,WILLAMETTE UNIVERSITY4954,Davis,Salem,Oregon,2016,WILLAMETTE UNIVERSITY,Non-California Institution (US),All,NaN,10,NaN
103956,WILLIAM R HARPER COLLEGE1932,Universitywide,Palatine,Illinois,2001,WILLIAM R HARPER COLLEGE,Non-California Institution (US),All,NaN,16,NaN
103957,WILLIAM R HARPER COLLEGE1932,Universitywide,Palatine,Illinois,2005,WILLIAM R HARPER COLLEGE,Non-California Institution (US),All,NaN,14,NaN
103958,WISCONSIN990328,Universitywide,NaN,Wisconsin,2005,WISCONSIN,Non-California Institution (US),All,NaN,14,NaN
103959,WISCONSIN990328,Universitywide,NaN,Wisconsin,2015,WISCONSIN,Non-California Institution (US),All,NaN,5,NaN
103960,WISCONSIN990328,Universitywide,NaN,Wisconsin,2016,WISCONSIN,Non-California Institution (US),All,NaN,12,NaN
103961,WRIGHT STATE UNIVERSITY DAYTN1179,Universitywide,Dayton,Ohio,2013,WRIGHT STATE UNIVERSITY DAYTN,Non-California Institution (US),All,NaN,12,NaN
103962,YAVAPAI COLLEGE4996,Universitywide,Prescott,Arizona,2009,YAVAPAI COLLEGE,Non-California Institution (US),All,12.0,13,3.0
103963,CALIF MARITIME ACADEMY4035,Universitywide,Vallejo,Solano,2007,CALIF MARITIME ACADEMY,Other (not to include unknown),All,8.0,12,8.0
103964,COPPER MOUNTAIN COLL3889,Riverside,Joshua Tree,San Bernardino,2004,COPPER MOUNTAIN COLL,Other (not to include unknown),All,10.0,12,6.0

In [5]:
#How different is the admit rate between different ethnicities?
trans.columns

Index(['Calculation1', 'Campus', 'City', 'County/State/ Territory',
       'Fall Term', 'School', 'Sch Src TR', 'Uad Uc Ethn 6 Cat', 'adm (SUM)',
       'app (SUM)', 'enr (SUM)'],
      dtype='object')

In [6]:
trans = trans.rename(columns = {'adm (SUM)':'admitted', 'app (SUM)':'applied', 'enr (SUM)':'enrolled', 'Uad Uc Ethn 6 Cat':'Ethnicity'})

In [7]:
fresh = fresh.rename(columns = {'adm (SUM)':'admitted', 'app (SUM)':'applied', 'enr (SUM)':'enrolled', 'Uad Uc Ethn 6 Cat':'Ethnicity'})

In [8]:
gpa = gpa.rename(columns = {'adm (SUM)':'admitted_gpa', 'app (SUM)':'applied_gpa', 'enr (SUM)':'enrolled_gpa'})

In [9]:
trans_admitted = trans.groupby(['Ethnicity']).admitted.agg(['min', 'max']).drop('All')
trans_admitted

                  min     max
Ethnicity
African American  3.0   159.0
American Indian   3.0    42.0
Asian             3.0  1044.0
Domestic Unknown  3.0   311.0
Hispanic/ Latino  3.0   534.0
Inter- national   3.0  1050.0
White             3.0  1090.0

In [10]:
trans_enrolled = trans.groupby(['Ethnicity']).enrolled.agg(['min', 'max']).drop('All')
trans_enrolled

                  min    max
Ethnicity
African American  3.0  118.0
American Indian   3.0   28.0
Asian             3.0  817.0
Domestic Unknown  3.0  228.0
Hispanic/ Latino  3.0  398.0
Inter- national   3.0  846.0
White             3.0  804.0

In [11]:
fresh_admitted = fresh.groupby(['Ethnicity']).admitted.agg(['min', 'max']).drop('All')
fresh_admitted

                  min     max
Ethnicity
African American  3.0    72.0
American Indian   3.0     7.0
Asian             3.0   387.0
Domestic Unknown  3.0   113.0
Hispanic/ Latino  3.0   144.0
Inter- national   3.0  1537.0
White             3.0   247.0

In [12]:
fresh_enrolled = fresh.groupby(['Ethnicity']).enrolled.agg(['min', 'max']).drop('All')
fresh_enrolled

                  min    max
Ethnicity
African American  3.0   48.0
American Indian   3.0    5.0
Asian             3.0  268.0
Domestic Unknown  3.0   61.0
Hispanic/ Latino  3.0   68.0
Inter- national   3.0  677.0
White             3.0  138.0

In [13]:
fresh['Campus'].values

array(['Riverside', 'Santa Barbara', 'San Diego', ..., 'Universitywide',
       'Los Angeles', 'Santa Barbara'], dtype=object)

In [14]:
#number of freshmen enrolled in each campus based on ethnicity
fresh_enrolled_by_campus = fresh.groupby(['Campus','Ethnicity']).enrolled.agg([sum()])
fresh_enrolled_by_campus.drop(index='All', level=1)

                                 min    max
Campus         Ethnicity
Berkeley       African American  3.0   10.0
               American Indian   NaN    NaN
               Asian             3.0   74.0
               Domestic Unknown  3.0   13.0
               Hispanic/ Latino  3.0   11.0
               Inter- national   3.0   14.0
               White             3.0   22.0
Davis          African American  3.0    9.0
               American Indian   NaN    NaN
               Asian             3.0  107.0
               Domestic Unknown  3.0   16.0
               Hispanic/ Latino  3.0   16.0
               Inter- national   3.0   11.0
               White             3.0   78.0
Irvine         African American  3.0    8.0
               American Indian   NaN    NaN
               Asian             3.0   84.0
               Domestic Unknown  3.0    9.0
               Hispanic/ Latino  3.0   27.0
               Inter- national   3.0  646.0
               White             3.0   20.0
Los Angeles    African American  3.0   11.0
               American Indian   NaN    NaN
               Asian             3.0   52.0
               Domestic Unknown  3.0   16.0
               Hispanic/ Latino  3.0   21.0
               Inter- national   3.0   24.0
               White             3.0   24.0
Merced         African American  3.0    8.0
               Asian             3.0   16.0
...                              ...    ...
Riverside      Inter- national   3.0    7.0
               White             3.0   23.0
San Diego      African American  3.0    5.0
               American Indian   NaN    NaN
               Asian             3.0   61.0
               Domestic Unknown  3.0   11.0
               Hispanic/ Latino  3.0   30.0
               Inter- national   3.0   11.0
               White             3.0   21.0
Santa Barbara  African American  3.0    7.0
               American Indian   NaN    NaN
               Asian             3.0   37.0
               Domestic Unknown  3.0    7.0
               Hispanic/ Latino  3.0   17.0
               Inter- national   3.0    7.0
               White             3.0   27.0
Santa Cruz     African American  3.0    7.0
               American Indian   NaN    NaN
               Asian             3.0   47.0
               Domestic Unknown  3.0   12.0
               Hispanic/ Latino  3.0   17.0
               Inter- national   3.0    4.0
               White             3.0   35.0
Universitywide African American  3.0   48.0
               American Indian   3.0    5.0
               Asian             3.0  268.0
               Domestic Unknown  3.0   61.0
               Hispanic/ Latino  3.0   68.0
               Inter- national   3.0  677.0
               White             3.0  138.0

[69 rows x 2 columns]

In [15]:
#number of freshmen admitted in each campus organised by ethnicity
fresh_admitted_by_campus = fresh.groupby(['Campus','Ethnicity']).admitted.agg(['min', 'max'])
fresh_admitted_by_campus.drop(index='All', level=1)

                                 min     max
Campus         Ethnicity
Berkeley       African American  3.0    17.0
               American Indian   NaN     NaN
               Asian             3.0    94.0
               Domestic Unknown  3.0    34.0
               Hispanic/ Latino  3.0    24.0
               Inter- national   3.0    58.0
               White             3.0    61.0
Davis          African American  3.0    16.0
               American Indian   4.0     4.0
               Asian             3.0   244.0
               Domestic Unknown  3.0    32.0
               Hispanic/ Latino  3.0    34.0
               Inter- national   3.0    81.0
               White             3.0   158.0
Irvine         African American  3.0    18.0
               American Indian   NaN     NaN
               Asian             3.0   259.0
               Domestic Unknown  3.0    25.0
               Hispanic/ Latino  3.0    49.0
               Inter- national   3.0  1385.0
               White             3.0    61.0
Los Angeles    African American  3.0    24.0
               American Indian   NaN     NaN
               Asian             3.0   111.0
               Domestic Unknown  3.0    37.0
               Hispanic/ Latino  3.0    33.0
               Inter- national   3.0    85.0
               White             3.0    54.0
Merced         African American  3.0    20.0
               Asian             3.0   105.0
...                              ...     ...
Riverside      Inter- national   3.0    41.0
               White             3.0    70.0
San Diego      African American  3.0    13.0
               American Indian   3.0     3.0
               Asian             3.0   187.0
               Domestic Unknown  3.0    50.0
               Hispanic/ Latino  3.0    38.0
               Inter- national   3.0   107.0
               White             3.0    61.0
Santa Barbara  African American  3.0    18.0
               American Indian   3.0     5.0
               Asian             3.0   164.0
               Domestic Unknown  3.0    24.0
               Hispanic/ Latino  3.0    47.0
               Inter- national   3.0   171.0
               White             3.0   118.0
Santa Cruz     African American  3.0    28.0
               American Indian   NaN     NaN
               Asian             3.0   196.0
               Domestic Unknown  3.0    34.0
               Hispanic/ Latino  3.0    48.0
               Inter- national   3.0   482.0
               White             3.0   135.0
Universitywide African American  3.0    72.0
               American Indian   3.0     7.0
               Asian             3.0   387.0
               Domestic Unknown  3.0   113.0
               Hispanic/ Latino  3.0   144.0
               Inter- national   3.0  1537.0
               White             3.0   247.0

[69 rows x 2 columns]

In [16]:
#number of transfer students enrolled in each campus organised by ethnicity 
trans_enrolled_by_campus = trans.groupby(['Campus','Ethnicity']).enrolled.agg(['min', 'max'])
trans_enrolled_by_campus.drop(index='All', level=1)

                                 min    max
Campus         Ethnicity
Berkeley       African American  3.0   38.0
               American Indian   3.0   10.0
               Asian             3.0  146.0
               Domestic Unknown  3.0   38.0
               Hispanic/ Latino  3.0   60.0
               Inter- national   3.0  282.0
               White             3.0  188.0
Davis          African American  3.0   30.0
               American Indian   6.0   10.0
               Asian             3.0  256.0
               Domestic Unknown  3.0   42.0
               Hispanic/ Latino  3.0   90.0
               Inter- national   3.0  136.0
               White             3.0  178.0
Irvine         African American  3.0   18.0
               American Indian   6.0    8.0
               Asian             3.0  207.0
               Domestic Unknown  3.0   40.0
               Hispanic/ Latino  3.0  134.0
               Inter- national   3.0  118.0
               White             3.0  252.0
Los Angeles    African American  3.0   58.0
               American Indian   4.0   12.0
               Asian             3.0  228.0
               Domestic Unknown  3.0  130.0
               Hispanic/ Latino  3.0  138.0
               Inter- national   3.0  224.0
               White             3.0  586.0
Merced         African American  NaN    NaN
               American Indian   NaN    NaN
...                              ...    ...
Riverside      Inter- national   3.0   32.0
               White             3.0  195.0
San Diego      African American  3.0   24.0
               American Indian   3.0   12.0
               Asian             3.0  200.0
               Domestic Unknown  3.0   55.0
               Hispanic/ Latino  3.0  102.0
               Inter- national   3.0  198.0
               White             3.0  204.0
Santa Barbara  African American  3.0   30.0
               American Indian   3.0   18.0
               Asian             3.0   78.0
               Domestic Unknown  3.0  100.0
               Hispanic/ Latino  3.0  182.0
               Inter- national   3.0  128.0
               White             3.0  573.0
Santa Cruz     African American  3.0   16.0
               American Indian   6.0   13.0
               Asian             3.0   60.0
               Domestic Unknown  3.0   38.0
               Hispanic/ Latino  3.0   58.0
               Inter- national   3.0   14.0
               White             3.0  273.0
Universitywide African American  3.0  118.0
               American Indian   3.0   28.0
               Asian             3.0  817.0
               Domestic Unknown  3.0  228.0
               Hispanic/ Latino  3.0  398.0
               Inter- national   3.0  846.0
               White             3.0  804.0

[70 rows x 2 columns]

In [17]:
#number of transfer students admitted to each campus, organised by ethnicity
trans_admitted_by_campus = trans.groupby(['Campus','Ethnicity']).admitted.agg(['min', 'max'])
#trans_admitted_by_campus['perc'] = trans_admitted_by_campus['max'] / trans_admitted_by_campus['max'].sum(level=1) * 100
trans_admitted_by_campus.drop(index='All', level=1)

                                 min     max
Campus         Ethnicity
Berkeley       African American  3.0    46.0
               American Indian   3.0    10.0
               Asian             3.0   182.0
               Domestic Unknown  3.0    60.0
               Hispanic/ Latino  3.0    94.0
               Inter- national   3.0   314.0
               White             3.0   258.0
Davis          African American  3.0    50.0
               American Indian   3.0    16.0
               Asian             3.0   654.0
               Domestic Unknown  3.0    98.0
               Hispanic/ Latino  3.0   138.0
               Inter- national   3.0   580.0
               White             3.0   363.0
Irvine         African American  3.0    56.0
               American Indian   3.0    12.0
               Asian             3.0   624.0
               Domestic Unknown  3.0    78.0
               Hispanic/ Latino  3.0   230.0
               Inter- national   3.0   574.0
               White             3.0   422.0
Los Angeles    African American  3.0    68.0
               American Indian   3.0    16.0
               Asian             3.0   325.0
               Domestic Unknown  3.0   178.0
               Hispanic/ Latino  3.0   202.0
               Inter- national   3.0   344.0
               White             3.0   685.0
Merced         African American  3.0    26.0
               American Indian   8.0     8.0
...                              ...     ...
Riverside      Inter- national   3.0   398.0
               White             3.0   302.0
San Diego      African American  3.0    56.0
               American Indian   3.0    20.0
               Asian             3.0   502.0
               Domestic Unknown  3.0   108.0
               Hispanic/ Latino  3.0   182.0
               Inter- national   3.0   568.0
               White             3.0   532.0
Santa Barbara  African American  3.0    74.0
               American Indian   3.0    32.0
               Asian             3.0   482.0
               Domestic Unknown  3.0   179.0
               Hispanic/ Latino  3.0   276.0
               Inter- national   3.0   664.0
               White             3.0   832.0
Santa Cruz     African American  3.0    32.0
               American Indian   3.0    16.0
               Asian             3.0   382.0
               Domestic Unknown  3.0    94.0
               Hispanic/ Latino  3.0   139.0
               Inter- national   3.0   190.0
               White             3.0   393.0
Universitywide African American  3.0   159.0
               American Indian   3.0    42.0
               Asian             3.0  1044.0
               Domestic Unknown  3.0   311.0
               Hispanic/ Latino  3.0   534.0
               Inter- national   3.0  1050.0
               White             3.0  1090.0

[70 rows x 2 columns]