In [2]:
from __future__ import print_function, division
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
gpa = pd.read_csv("../data/GPA.csv")
transfers = pd.read_csv("../data/Transfers.csv")
freshmen = pd.read_csv("../data/Freshmen.csv")

In [4]:
gpa.head()

,Calculation1,Campus,City,County/State/Country,Fall Term,Level,School,Adm GPA (SUM),App GPA (SUM),Enrl GPA (SUM)
0,GERMAN SWISS INTERNATIONAL SCH670905,Berkeley,NaN,HONG KONG,2012,Freshman,GERMAN SWISS INTERNATIONAL SCH,NaN,3.604000,NaN
1,AQUINAS HIGH SCHOOL052772,Riverside,San Bernardino,San Bernardino,1995,Freshman,AQUINAS HIGH SCHOOL,NaN,3.361429,NaN
2,DESIGN SCIENCE HIGH SCHOOL054003,Los Angeles,Fresno,Fresno,2012,Freshman,DESIGN SCIENCE HIGH SCHOOL,NaN,3.818000,NaN
3,BLOOMFIELD HILLS HIGH SCHOOL232447,Universitywide,Bloomfield Twp,Michigan,2015,Freshman,BLOOMFIELD HILLS HIGH SCHOOL,3.942,3.950000,NaN
4,A B MILLER HIGH SCHOOL050944,Santa Barbara,Fontana,San Bernardino,1998,Freshman,A B MILLER HIGH SCHOOL,NaN,3.518571,NaN

In [6]:
gpa['Fall Term']

0         2012
1         1995
2         2012
3         2015
4         1998
5         2013
6         2012
7         1995
8         2014
9         2004
10        2004
11        2017
12        2008
13        2008
14        2003
15        2004
16        2007
17        2014
18        2004
19        2015
20        1996
21        2013
22        2010
23        1994
24        2015
25        1998
26        1999
27        1997
28        2017
29        1999
          ...
333282    2011
333283    2011
333284    2012
333285    2012
333286    2012
333287    2012
333288    2012
333289    2013
333290    2013
333291    2013
333292    2013
333293    2013
333294    2014
333295    2014
333296    2014
333297    2015
333298    2015
333299    2015
333300    2015
333301    2015
333302    2015
333303    2016
333304    2016
333305    2016
333306    2016
333307    2017
333308    2017
333309    2017
333310    2017
333311    2017
Name: Fall Term, Length: 333312, dtype: int64

# Initial Exploratory Tasks

1. How many high schools are in each of the datasets? How many years do each of the datasets cover?
2. How many high schools are included in all three of the datasets? How many high schools are included in only 2 of the datasets? How many high schools are included in only one of the datasets?
3. What high schools have the highest number of freshmen admitted? What high schools schools have the highest number of transfer students admitted? How does this differ across UC campuses?
4. What high schools have the highest freshman admit rate? What schools have the highest freshmen transfer rate? How would would you even calculate these things? :o How does this differ across UC campuses?
5. What California counties are most represented in the data? What non-California states are most represented in the data? What other countries are most represented in the data? How does this differ across UC campuses?
6. Of the high schools that have students admitted, which high school has the highest ratio of admitted GPA to enrolled GPA? Of the high schools that have students enrolled, which high school has the highest ratio of enrolled GPA to admitted GPA? Is there a significant (linear) correlation between high school GPA and acceptance into a particular UC campus?
7. What is the relationship between admit rate and admit GPA? (Answer through a visualization) How is this different between the relationship between enrollment rate and enrollment GPA? How does this differ across each UC Campus?
8. How different is the admit rate between different ethnicities? How does this relate to the enrollment rate between different ethnicities? How does this vary between freshmen and transfer students? How does this vary across different campuses?